{% extends 'base.html.twig' %}

{% set extraMargin = is_granted('ROLE_ADD_BOOK') ? '' : ' mb-8' %}

{% block title %}Admin - Page auteurs
{% endblock %}

{% block main %}
	<main class="flex-1 mt-12 w-full px-10">
		<section class='flex flex-col items-center gap-4 px-4 pt-12 pb-6 text-center'>
			<h2 class="text-5xl font-extrabold{{ extraMargin }}">Page d'administration des auteurs</h2>

			{% if is_granted('ROLE_ADD_BOOK') %}
				<a href="{{ path('app_admin_author_new') }}" class="secondary-button self-end my-5">Ajouter un auteur</a>
			{% endif %}

			<h3 class="text-2xl mb-3">Liste des auteurs:</h3>

			<ul class="w-full flex flex-col gap-2">
				{% for author in authors %}
					<li>
						<a href="{{ path('app_admin_author_show', {id: author.id}) }}">
							<article class="w-1/2 m-auto flex justify-between items-center border-2 rounded-2xl py-4 px-20">
								<h4 class="text-xl">{{ author.name }}</h4>

								<p class="text-sm text-gray-600">Identifiant:
									{{ author.id }}</p>
							</article>
						</a>
					</li>
				{% else %}
					<li>Aucun auteur trouvé...</li>
				{% endfor %}
			</ul>

			{% if authors|length > 10 %}
				{{ pagerfanta(authors) }}
			{% endif %}
		</section>
	</main>
{% endblock %}
