{% extends 'base.html.twig' %}

{% set titleAction = app.current_route == 'app_admin_editor_new' ? 'ajout' : 'édition' %}

{% block title %}
	Admin -
	{{ titleAction }}
	d'un éditeur
{% endblock %}

{% block main %}
	<main class="flex-1 mt-12 w-full">
		<section class='px-4 pt-12 pb-6'>
			<h2 class='text-5xl font-extrabold text-center'>Formulaire d'{{ titleAction }}
				d'un éditeur</h2>

			<div class="w-1/2 m-auto mt-10">
				{{ form_start(form) }}
				{{ form_row(form.name, {
					label: "Nom",
					widget_class: "rounded-lg w-full",
					label_class: "block my-2",
					error_item_class: "text-red-600"
					}) }}

				<button type="submit" class="secondary-button m-auto mt-4">Envoyer</button>
				{{ form_end(form) }}
			</div>
		</section>
	</main>
{% endblock %}
