{% extends 'base.html.twig' %}

{% block title %}Admin - modérer un commentaire{% endblock %}

{% block main %}
<main class="flex-1 mt-12 w-full px-10">
    <section class='flex flex-col items-center gap-4 px-4 pt-12 pb-6 text-center'>
        <h2 class='text-5xl font-extrabold text-center max-w-3xl'>Modérer le commentaire de {{ comment.getName }}</h2>

			<div class="w-1/2 m-auto mt-10">
				<span class="block text-right text-sm text-gray-600">* champs requis</span>

				{{ form_start(form) }}
				{{ form_row(form.name, {
					label: "Nom",
					widget_class: "rounded-lg w-full",
					label_class: "block my-2",
					error_item_class: "text-red-600"
					}) }}

				{{ form_row(form.email, {
					label: "E-mail",
					widget_class: "rounded-lg w-full",
					label_class: "block my-2",
					error_item_class: "text-red-600"
					}) }}

				{{ form_row(form.content, {
					label: "Contenu du commentaire",
					widget_class: "rounded-lg w-full",
					label_class: "block my-2",
					error_item_class: "text-red-600"
					}) }}

                <div class="mt-10 flex gap-4 items-center justify-center m-auto">
				    <button type="submit" class="secondary-button">Envoyer</button>

                    <a href="{{ path('app_admin_comment_index') }}" class="secondary-button--red">Annuler</a>
                </div>
				{{ form_end(form) }}
			</div>
    </section>
</main>
{% endblock %}